#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

p {
  color: #888;
}


#map-container {
  position: relative;
  width: 600px;
  height: 400px;
}

.mapboxgl-popup {
  display: block !important;
}